body {
    width: 95vw;
    height: 50vh;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
}

.wrapper {
    max-width: 2000px;
}

header {
    text-align: right;
    font-family: Secular One;
    margin-top: 3rem;
    align-items: end;
    letter-spacing: 5.4px;
    font-weight: 400;
    line-height: 100%;
    padding-bottom: 0px;
}

h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: 'Secular One', sans-serif;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5.4px;
}

h2 {
    margin: 0;
    font-family: 'Lora', sans-serif;
    color: #FFD029;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 14.4px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: 170%;
    font-weight: 300;

}

.all-planets {
    display: grid;
    grid-template-columns: repeat(9, auto);
    align-items: center;
    justify-items: center;

}

.solen {
    background-color: #ffd029;
    height: 60vh;
    width: 1000%;
    border-radius: 1000px;
    transform: translateX(-62%);
    margin-right: -300px;
}

.saturn_body {
    margin-left: 19px;
    margin-bottom: auto;
}

.saturn_ring {
    margin-left: -200px;
    transform: translate(188px, -11px);
}

.planet-info-page {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    overflow: auto;
}

.planets-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 840px;
}

.close-button {
    display: flex;
    justify-self: flex-end;
    width: 1, 5rem;
    margin-left: auto;
    margin-right: 3rem;
    background-color: transparent;
}

.quick-info {
    border-top: solid 3px #FFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: solid 3px #FFF;
}

.planet-moon {
    overflow-wrap: break-word;
}